.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: white;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-ttl {
    font-size: 24px;
    width: 80px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.menu {
    display: none;
}
.drawer-nav {
    display: none;
}

/*　top　home　*/
.top-home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/mv.png) center / cover;
    color: #fff;
}

.wrap{
    margin: auto 0;
}
.top-copy {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.top-copy-sub {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.top-heart {
    color: #fff;
    background-color: #222;
    padding: 80px 0;
}

.top-heart-inner {
    width: 85%;
    margin: 0 auto;
}

h2.heart-ttl {
    font-size: 30px;
    font-weight: bold;
}

p.heart-text {
    margin-top: 20px;
}


/* サービス */
.top-service {
    width: 85%;
    padding: 80px 0;
    margin: 0 auto;
}

h2.service-ttl {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section.service-item {
    width: 48%;
    margin-right: 0;
    margin-left: 2%;
    margin-top: 20px;
}

img {
    height: auto;
    width: 100%;
}

h3.service-sub-ttl {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

p.service-text {
    margin-top: 10px;
}

a.service-botann {
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cd0224;
    color: #fff;
    margin: 40px auto 0;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.5;
}

/* ニュース */
section.top-news {
    background-color: black;
    padding: 80px 0;
}

.top-news-innner {
    width: 85%;
    margin: 0 auto;
}

.news-header {
    display: flex;
    justify-content: space-between;
}

h2.new-ttl {
    color: white;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
}

a.news-botann {
    width: 160px;
    font-size: 14px;
    padding: 6px;
    color: white;
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: #cd0224;
}

.top-news-list {
    margin-top: 20px;
}

article.top-news-box {
    margin-bottom: 10px;
    transition: 0.3s;
}

.top-news-box:hover {
    opacity: 0.5;
}

.top-news-box-inner {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

span.news-day {
    margin-right: 10px;
}

/* 社員ブログ */
section.top-blog {
    padding: 80px 0;
    width: 85%;
    margin: 0 auto;
}

h2.blog-ttl {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

article.blog-inner {
    width: 32%;
    margin-right: 1%;
}

img {
    width: 100%;
    height: auto;
}

p.blog-day {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 14px;
}

h3.blog-text {
    font-size: 18px;
    font-weight: bold;
}


/* 会社概要　採用情報 */
.top-company-recruit {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

a.company-ttl.box2 {
    background-color: #cd0224;
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 300px;
}

a.recruit-ttl.box2 {
    background-color: grey;
    width: 100%;
    display: inline-block;
    line-height: 300px;
    text-align: center;
}

section.company-recruit-inner {
    width: 50%;
}

/* お問い合わせ */
section.top-contact {
    text-align: center;
    padding: 80px 0;
    background-color: #f5f6f9;
}

.contact-inner {
    width: 85%;
    margin: 0 auto;
}

h2.contact-ttl {
    font-size: 24px;
    font-weight: bold;
}

p.contact-text {
    margin-top: 10px;
}

a.contact-botann {
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cd0224;
    color: #fff;
    margin: 40px auto 0;
}

/* fotter */
.footer {
    padding: 20px 0;
    color: #fff;
    background-color: #222;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.wrap {
    width: 85%;
    margin: 0 auto;
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav-item:after {
    content: "|";
    display: inline-block;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
.wrap {
    width: 85%;
}

.wrap-s {
    width: 90%;
}

.header-nav {
    display: none;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.menu-line-top,
.menu-line-middle,
.menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
}

.menu-line-top {
    top: 0;
}

.menu-line-middle {
    top: 14px;
}

.menu-line-bottom {
    bottom: 0;
}

.menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
}

.drawer-nav{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
}

.drawer-nav-list {
    padding-top: 80px;
    text-align: center;
}

.drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
}

.in {
    transform: translateX(100%);
}
.footer-copyright {
    margin: 0 auto;
  }

  .footer-nav-item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }

  .footer-nav-item:after {
    display: none;
  }
}