.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: white;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

.header-ttl {
    font-size: 24px;
    width: 80px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.menu {
    display: none;
}
.drawer-nav {
    display: none;
}

/*　top　home　*/
.top-home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/mv.png) center / cover;
    color: #fff;
}

.wrap{
    margin: auto 0;
}
.top-copy {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.top-copy-sub {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.top-heart {
    color: #fff;
    background-color: #222;
    padding: 80px 0;
}

.top-heart-inner {
    width: 85%;
    margin: 0 auto;
}

h2.heart-ttl {
    font-size: 30px;
    font-weight: bold;
}

p.heart-text {
    margin-top: 20px;
}


/* サービス */
.top-service {
    width: 85%;
    padding: 80px 0;
    margin: 0 auto;
}

h2.service-ttl {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section.service-item {
    width: 48%;
    margin-right: 0;
    margin-left: 2%;
    margin-top: 20px;
}

img {
    height: auto;
    width: 100%;
}

h3.service-sub-ttl {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

p.service-text {
    margin-top: 10px;
}

a.service-botann {
    display: block;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #cd0224;
    color: #fff;
    margin: 40px auto 0;
    text-decoration: none;
    transition: 0.3s;

}